/* body {
  background-color: #f3faff;
}

.dropdown {
  width: 40rem;
  margin: 2rem auto 0;
  position: relative;
}
.dropdown__select {
  font-size: 1.5rem;
  padding: 2rem 2.5rem 2rem 4rem;
  background-color: #42a7fe;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.dropdown__text {
  margin-left: 3.5rem;
}
.dropdown__caret {
  margin-left: auto;
}
.dropdown__item {
  font-size: 1.5rem;
  padding: 2rem 2.5rem 2rem 4rem;
  display: flex;
  color: #b3bbce;
  transition: all 0.2s linear;
  align-items: center;
  cursor: pointer;
  border-left: 3px solid transparent;
}
.dropdown__item:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.dropdown__item:hover {
  color: #74809d;
  border-left: 3px solid #42a7fe;
}
.dropdown__list {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  margin-top: 3rem;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s linear;
}
.dropdown__list::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: white;
  border-radius: 3px;
  top: 0;
  right: 2rem;
  transform: translateY(-50%) rotate(45deg);
  z-index: -1;
}
.dropdown__list::after {
  content: "";
  position: absolute;
  height: 3rem;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  transform: translateY(100%);
}
.dropdown:hover .dropdown__list {
  display: block;
  opacity: 1;
  visibility: visible;
} */
body{
  
  background-color: white;
}
a{
text-decoration: none;
}
.work{
  max-width: 1200px;
  padding:2rem;
  margin: 0 auto;
}

.work__title{
  font-weight: bold;
  font-size: 2.5rem;
  position: relative;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
}
.work__title::before{
  content: "";
  position: absolute;
  width: 3rem;
  height: 0.5rem;

  border-radius: 10px;
  background-color: brown;
  left: 0;
  bottom: 0;
  

}
.work__fillter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.work-tab{
  display: flex;
}

.work-tab__item{
  cursor: pointer;
  padding: 1rem 1.5rem;
  border: 1px solid brown;
  border-radius: 20px 0px 20px 20px;
  transition: all 0.25s linear;
}

.work-tab__item:hover{
  color: white;
  background-color: brown;
}

.work-tab__item:not(:first-child){
  margin-left: 1rem;
}

.work-all{
  color: brown;
  display: inline-block;
  background-color: rgba(165, 42, 42, 0.39);
  border-radius: 2rem;
  border: 1px solid brown;
  padding: 5px;
  font-size: 1rem;
}

.author{
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  
  border-radius: 1rem;
  overflow: hidden;
  height: 30rem;
  margin-bottom: 2rem;
}
.author__img{
  width: 35%;
  object-fit: cover;
  height: 100%;
}
.author__content{
  width: 65%;
  padding: 2rem;
  font-size: 1.5rem;
  line-height: 3rem;
  background-color: #eee;
}
.author__name{
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.author__contact{
  display: flex;
  align-items: center;
}
.author-social__item{
  margin-left: 1rem;
}


.post{
  margin: 0 auto;
  max-width: 1200px;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  
}
.post__left{
  width: calc(50% - 1rem);
}
.post__media{
  height: 25rem;
  position: relative;
  margin-bottom: 3.5rem;
}
.post__image{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.post__image--small{
  width: 15rem;
  height: 10rem;
  margin-right: 1.5rem;
  flex-shrink: 0;
}
.post__category{
  color: white;
  font-size: 1.2rem;
  display: inline-block;
  padding: 1rem;
  border-radius: 2rem;
  background-image: linear-gradient(to right,#FC556F , #FD9C84);
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 2;
}

.post__icon{
  width: 5rem;
  height: 5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right,#FC556F , #FD9C84);
  border-radius: 5rem;
  position: absolute;
  bottom: 0;
  right: 1rem;
  transform: translateY(50%);
  z-index: 2;
}
.post__right{
  width: calc(50% - 1rem);
}

.post-author{
  display: flex;
  align-items: center;
  color: #999;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  

}
.post-author__avatar{
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  object-fit: cover;
  margin-right: 1rem;
}
.post__date{
 
  color: #999;
  font-size: 1.4rem;
  
}
.post-author__name{
  color: #000;
  margin-right: 2.5rem;
  padding-right:2.5rem ;
  position: relative;

}
.post-author__name::before{
  content: "";
  height: 5px;
  width: 5px;
  border-radius: 5px;
  background-color: teal;
  position: absolute;
  right: 0 ;
  top: 50%;
  transform: translateY(-50%);
}
.post__title{
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  line-height: 1.4;
}
.post__title--small{
  font-size: 1.4rem;
  margin-bottom: 0;
}
.post__desc{
  font-size: 1.4rem;
  line-height: 1.6;
  color: #999;
}
.post__item{
  display: flex;
  align-items: center;
  

}
.post__item:not(:last-child){
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #eee;

}
.post__content{
  width: 100%;
  flex-grow: 1;
}

@media screen and (max-width:767px){
  
  .work__fillter{
    flex-direction: column;
  }
  .work-tab{
    flex-wrap: wrap;
    justify-content: center;
    

  }
  .work-tab__item{
    margin-bottom: 1.5rem;
  }
  .author{
    padding: 2rem;
    flex-direction: column;
    height: auto;
  }
  .author__content,.author__img{
    width: 100%;
  }
  .author__img{
    height: 20rem;
  }
  .post{
    flex-direction: column;
    padding: 1rem;
  }
  .post__left{
    width: 100%;
    margin-bottom: 20px;
  }
  .post__right{
    width: 100%;
  }
  .post__image--small{
    width: 13rem;
  }
  .post__title{
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;

  }
  
}
/*# sourceMappingURL=style.css.map */

